Repository Guillerming/guacamole: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run format:js, composer run lint, composer run format

.lintstagedrc.json:

{
  "*.js": ["npm run lint:js", "npm run format:js"],
  "*.ts": ["npm run lint:js", "npm run format:js"],
  "*.vue": ["npm run lint:js", "npm run format:js"],
  "*.php": ["composer run lint", "composer run format"]
}

Prevent name collision
  src/Guacamole/Http/Abstract/HttpResource.php
Due: composer run lint, composer run format

Delete unused dependency
  src/Site/Router/Routes.php
Due: composer run lint, composer run format

Connecting to DB
  .env.example
  src/Guacamole/Config/Env.php
  src/Guacamole/Database/Database.php
  src/Guacamole/Guacamole.php
  src/Guacamole/Helpers/DbHelper.php
  src/Guacamole/Helpers/LogHelper.php
Due: composer run lint, composer run format

Using gulp as a central bundling manager
  gulp/gulpfile.cjs
  gulp/tasks/copy.cjs
  gulp/tasks/vite.cjs
  gulp/tasks/watch.cjs
  package-lock.json
  package.json
  vite.config.ts
Due: npm run lint:js, npm run format:js

Dynamic routes!
  src/Guacamole/Router/RouteModel.php
  src/Guacamole/Router/Router.php
  src/Site/Router/Routes.php
  src/Site/UI/Pages/Dynamic/DynamicPage.php
  src/Site/UI/Pages/Home/HomePage.php
Due: composer run lint, composer run format

Add TODO
  src/Guacamole/Router/Router.php
Due: composer run lint, composer run format

Ability to have subroutes for SPAs
  package-lock.json
  package.json
  src/Guacamole/Router/Router.php
  src/Site/UI/Pages/Dashboard/App.vue
  src/Site/UI/Pages/Dashboard/Home.vue
  src/Site/UI/Pages/Dashboard/Settings.vue
  src/Site/UI/Pages/Dashboard/main.ts
  src/Site/UI/Pages/Dashboard/router.ts
Due: npm run lint:js, npm run format:js, composer run lint, composer run format

WIP Handling Request and validating Http Method
  src/Guacamole/Http/Request.php
  src/Guacamole/Router/Router.php
Due: composer run lint, composer run format

HttpMethods enum instead of strings
  src/Guacamole/Http/Enums/HttpMethods.php
  src/Guacamole/Http/Request.php
  src/Guacamole/Router/RouteModel.php
  src/Guacamole/Router/Router.php
  src/Site/Router/Routes.php
Due: composer run lint, composer run format

All files should have strict_types=1
  src/Guacamole/Config/Env.php
  src/Guacamole/Database/Database.php
  src/Guacamole/Http/Enums/HttpMethods.php
Due: composer run lint, composer run format

Add comments and methods to DataRequesterHelper
  src/Guacamole/Helpers/DataRequesterHelper.php
Due: composer run lint, composer run format

Adding methods to Request class
  src/Guacamole/Http/Request.php
Due: composer run lint, composer run format

Fix pre-commit hook
  composer.json
  package.json
  src/Guacamole/Config/Env.php
  src/Guacamole/Database/Database.php
  src/Guacamole/Helpers/DataRequesterHelper.php
  src/Guacamole/Http/Abstract/HttpResource.php
  src/Guacamole/Http/Abstract/PageModel.php
  src/Guacamole/Http/Request.php
  src/Guacamole/Router/RouteModel.php
  src/Guacamole/Router/Router.php
  src/Site/Router/Routes.php
  src/Site/UI/Pages/Dynamic/DynamicPage.php
  src/Site/UI/Pages/Home/HomePage.php
Due: composer run lint, composer run format

WIP non-framework frontend TS/JS/SCSS/CSS
  eslint.config.js
  gulp/gulpfile.cjs
  gulp/gulpfile.js
  gulp/tasks/build-pages.js
  gulp/tasks/copy.cjs
  gulp/tasks/copy.js
  gulp/tasks/vite.cjs
  gulp/tasks/vite.js
  gulp/tasks/watch.cjs
  gulp/tasks/watch.js
  package-lock.json
  package.json
  src/Guacamole/Http/Abstract/PageModel.php
  src/Guacamole/Router/Router.php
  src/Site/UI/Pages/Dashboard/App.vue
  src/Site/UI/Pages/Dashboard/router.ts
  src/Site/UI/Pages/Home/HomePage.js
  src/Site/UI/Pages/Home/HomePage.scss
  src/Site/UI/Pages/Home/HomePage.ts
  tsconfig.json
Due: npm run lint:js, npm run format:js, composer run lint, composer run format

Layout system
  src/Guacamole/Http/Abstract/LayoutModel.php
  src/Guacamole/Http/Abstract/PageModel.php
  src/Guacamole/Http/Abstract/VuePageModel.php
  src/Guacamole/Router/Router.php
  src/Guacamole/UI/HeadData.php
  src/Guacamole/UI/OpenGraphData.php
  src/Site/UI/Layouts/Spa.php
  src/Site/UI/Layouts/Web.php
  src/Site/UI/Pages/Dynamic/DynamicPage.php
  src/Site/UI/Pages/Home/HomePage.php
  src/Site/UI/Pages/Home/HomePage.scss
Due: composer run lint, composer run format

Handling headers
  src/Guacamole/Helpers/HeaderSupport/Collection/HeaderCollection.php
  src/Guacamole/Http/Abstract/PageModel.php
  src/Guacamole/Router/Router.php
  src/Site/UI/Pages/Dashboard/DashboardPage.php
  src/Site/UI/Pages/Dynamic/DynamicPage.php
  src/Site/UI/Pages/Home/HomePage.php
Due: composer run lint, composer run format

WIP Middlewares
  src/Guacamole/Http/Response.php
  src/Guacamole/Middleware/Abstract/MiddlewareModel.php
  src/Guacamole/Router/Router.php
  src/Site/Middlewares/AuthMiddleware.php
  src/Site/UI/Pages/Home/HomePage.php
Due: composer run lint, composer run format

NotFound page
  src/Guacamole/Router/Router.php
  src/Site/UI/Pages/NotFound/NotFound.php
Due: composer run lint, composer run format

Allow to register multiple routes in one shot
  src/Guacamole/Router/Router.php
Due: composer run lint, composer run format

Format&lint only staged files
  composer.json
Due: none

WIP Google OAuth
  .env.example
  composer.json
  composer.lock
  src/Guacamole/Http/Abstract/EndpointModel.php
  src/Site/UI/Endpoints/Auth/Token/Token.php
  src/Site/UI/Endpoints/Auth/WithGoogle/WithGoogle.php
  src/Site/UI/Pages/Auth/Login/LoginPage.php
Due: composer run lint, composer run format

SPA Layout is a Core item
  src/Guacamole/Http/Abstract/VuePageModel.php
  src/Guacamole/UI/Layouts/Spa.php
Due: composer run lint, composer run format

Lowering PHPStan standards to something more practical
  phpstan.neon
Due: none

Corrections and improvements on docker compose files
  docker-compose.dev.yml
  docker-compose.prod.yml
Due: none

Fix tsconfig.json file path
  gulp/tasks/build-pages.js
Due: npm run lint:js, npm run format:js

Add new env vars
  .env.example
Due: none

initial script -> setup script + update readme
  README.md
  package.json
Due: none

Fix nginx upstream service name reference
  nginx.conf
Due: none

Update readme
  README.md
Due: none

AppConfig::baseUrl
  src/Guacamole/Config/AppConfig.php
Due: composer run lint, composer run format

Respect and restore protocol in StringHelper::mergeSlashes
  src/Guacamole/Helpers/StringHelper.php
Due: composer run lint, composer run format

Add default ContentType for endpoints
  src/Guacamole/Http/Abstract/EndpointModel.php
Due: composer run lint, composer run format

Fix comments
  src/Guacamole/Router/Router.php
Due: composer run lint, composer run format

WIP Google Auth
  src/Guacamole/Database/Repositories/UserRepository.php
  src/Guacamole/Guacamole.php
  src/Guacamole/Helpers/UserHelper.php
  src/Guacamole/Models/Url.php
  src/Guacamole/Models/User.php
  src/Site/Bootstrap.php
  src/Site/Middlewares/AuthMiddleware.php
  src/Site/Router/Routes.php
  src/Site/UI/Endpoints/Auth/Token/Token.php
  src/Site/UI/Endpoints/Auth/WithGoogle/WithGoogle.php
  src/Site/UI/Pages/Auth/Login/LoginPage.php
Due: composer run lint, composer run format

Replace Next for Guacamole
  README.md
  composer.json
  docker-compose.dev.yml
  docker-compose.prod.yml
  gulp/tasks/build-pages.js
  nginx.conf
  package-lock.json
  package.json
  src/Guacamole/Helpers/DirHelper.php
  src/Guacamole/Router/Router.php
  src/Guacamole/tools/vite-spa-configs.ts
  src/Timecentric/Bootstrap.php
  src/Timecentric/Middlewares/AuthMiddleware.php
  src/Timecentric/Router/Routes.php
  src/Timecentric/UI/Endpoints/Auth/WithGoogle/WithGoogle.php
  src/Timecentric/UI/Layouts/Web.php
  src/Timecentric/UI/Pages/Auth/Login/LoginPage.php
  src/Timecentric/UI/Pages/Dashboard/App.vue
  src/Timecentric/UI/Pages/Dashboard/DashboardPage.php
  src/Timecentric/UI/Pages/Dashboard/Home.vue
  src/Timecentric/UI/Pages/Dashboard/Settings.vue
  src/Timecentric/UI/Pages/Dashboard/index.html
  src/Timecentric/UI/Pages/Dashboard/main.ts
  src/Timecentric/UI/Pages/Dashboard/router.ts
  src/Timecentric/UI/Pages/Dashboard/vite.local.config.ts
  src/Timecentric/UI/Pages/Dynamic/DynamicPage.php
  src/Timecentric/UI/Pages/Home/HomePage.js
  src/Timecentric/UI/Pages/Home/HomePage.php
  src/Timecentric/UI/Pages/Home/HomePage.scss
  src/Timecentric/UI/Pages/Home/HomePage.ts
  src/Timecentric/UI/Pages/NotFound/NotFound.php
  src/public/index.php
  tsconfig.json
Due: npm run lint:js, npm run format:js, composer run lint, composer run format

TimeCentric adaptations
  src/Guacamole/Models/User.php
  src/Timecentric/UI/Pages/Home/HomePage.php
Due: composer run lint, composer run format

Migrations + User migration
  src/Guacamole/Database/AbstractMigration.php
  src/Guacamole/Database/Migration.php
  src/Guacamole/Database/MigrationRunner.php
  src/Guacamole/Database/Migrations/Migration20241111120000CreateUsersTable.php
Due: composer run lint, composer run format

CLI migrations
  Console/Commands/MigrationsCommand.php
  Console/Tools/Input.php
  Console/Tools/Logger.php
  Console/Tools/Models/DatabaseData.php
  Console/Tools/Output.php
  composer.json
  docker-compose.prod.yml
  guacamole
  package.json
  phpstan.neon
Due: composer run lint, composer run format

WIP google login and callback
  .env.example
  src/Guacamole/Config/AppConfig.php
  src/Timecentric/Router/RouteIds.php
  src/Timecentric/Router/Routes.php
  src/Timecentric/UI/Endpoints/Auth/WithGoogle/WithGoogle.php
  src/Timecentric/UI/Pages/Auth/Login/LoginPage.php
Due: composer run lint, composer run format

CookieHelper
  src/Guacamole/Helpers/CookieHelper.php
  src/Guacamole/Models/Url.php
  src/Timecentric/Enums/CookieNames.php
Due: composer run lint, composer run format
